* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #0d2121;
    --secondary-color: #0d2121;
    --text-color: #2f2f30;
    --background-color: #dddddd;
    --tile-color: #919191;
    --board-color: #bfbfbf;
    --hover-color: #0d2121;
    --tile-size: 5rem;
    --board-size: 17rem;
    
}


.container-main {
    background-color: var(--background-color);
    height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--board-color);
    width: var(--board-size);
    height: var(--board-size);
    border-radius: 5%;
}

.tile {
    width: var(--tile-size);
    height: var(--tile-size);
    margin: 3px;
    background: var(--tile-color);
    border: none;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
}

.box-row {
    display: flex;
    flex-direction: row;
}

.title{
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
}